apiVersion: v1
kind: Namespace
metadata: 
  name: app

--- 

apiVersion: v1 
kind: PersistentVolumeClaim
metadata: 
  name: app-pvc 
  namespace: app 
spec:
  accessModes:
    - ReadWriteOnce

  resources:
    requests:
      storage: 5Gi