name: Terraform Manual (Plan/Apply)

on:
    workflow_dispatch:
        inputs:
            tf_dir:
                description: "Terraform directory"
                required: true
                default: "infra/envs/dev"
            action:
                description: "plan or apply or destroy"
                required: true 
                default: "plan"

permissions:
    contents: read
    id-token: write

jobs:
    manual:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_wrapper: false

            - name: Azure Login (OIDC)
              uses: azure/login@v2
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            
            - name: Terraform init (real backend)
              run: terraform -chdir=${{ inputs.tf_dir }} init -input=false
            
            - name: Terraform validate
              if: inputs.action == 'apply' || inputs.action == 'plan' 
              run: terraform -chdir=${{ inputs.tf_dir }} validate

            - name: Terraform plan 
              if: inputs.action == 'apply' || inputs.action == 'plan' 
              run: terraform -chdir=${{ inputs.tf_dir }} plan -no-color

            - name: Terraform Apply
              if: inputs.action == 'apply'
              run: terraform -chdir=${{ inputs.tf_dir }} apply -auto-approve -parallelism=1

            - name: Terraform Destroy
              if: inputs.action == 'destroy'
              run: terraform -chdir=${{ inputs.tf_dir }} destroy -auto-approve
